.input {
    border: .5px solid rgb(219, 158, 7);
    border-radius: 3px;
    font-size: 17px;
    color:rgb(8, 8, 8);
}
.label {
    font-size: 12px;
}
.small {
    font-size: 9px;
    color: rgb(120, 120, 120);
}
.icon {
    font-size: 21px;
}
.bottom {
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.add-payment-div{
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}
.input1
{
    border: .5px solid rgb(219, 158, 7);
    border-radius: 3px;
    font-size: 20px;
    color:rgb(8, 8, 8);
}
.map {
    height: 100%;
    width: 100%;
  }