<!-- /**
 * Shoppr - E-commerce app starter Ionic 4(https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-header  color="mytheme" class="ion-padding mybg head">
    <ion-toolbar color="mytheme">
        <ion-buttons slot="start">
          <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-img src="assets/images/logo.png" class="head-image"></ion-img>
    </ion-row>
  </ion-header>

<ion-content class="ion-padding ">
  <ion-text><h3  class="title ion-no-margin ion-margin-bottom ion-text-center">Forgot your password?</h3></ion-text>
  <ion-grid>
    
    <ion-row>
      <ion-col>
        <form [formGroup]="fg">
        <ion-label><ion-text class="small" >Type your Contact Number</ion-text></ion-label><br>
        <ion-input  type="text" placeholder="Enter Contact Number" formControlName="MobileNumber" [(ngModel)]="email" class="input ion-clearInput ion-padding-horizontal ion-padding-top" ></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.mobileNumber">
            <div class="error-message"
              *ngIf="fg.get('MobileNumber').hasError(validation.type) && (fg.get('MobileNumber').dirty || fg.get('MobileNumber').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="mycolor1" [disabled]="!fg.valid" (click)="reset()"><strong class="white">Reset Password</strong></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
