.success {
    color: green
}
.fail {
    color:red
}
.input {
    border: .5px solid rgb(219, 158, 7);
    border-radius: 3px;
    font-size: 17px;
    color:rgb(8, 8, 8);
}
.end11{
    float: right;
}