<ion-header class="mybg">
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="light">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" color="light" *ngIf="riders && location">

  <ion-card>

    <ion-card-content>
      <h2> <b> Welcome <br> {{sharedservice.user.FirstName}} {{sharedservice.user.LastName}}</b></h2>
    </ion-card-content>
  </ion-card>
<!-- 
  <ion-card>
    <ion-card-content class="ion-text-center">
      <ion-row>
        <ion-col>
          <h2 (click)="Onclick()" font-size="40px"> <span style="color: green;">New Orders </span> </h2>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="ion-text-center">
      <ion-row>
        <ion-col>
          <h2 (click)="Onclick1()" font-size="40px"> <span style="color: lightcoral;">Pending Orders </span> </h2>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="ion-text-center">
      <ion-row>
        <ion-col>
          <h2 (click)="Onclick2()" font-size="40px"> <span style="color: rgb(43, 43, 221);">Complete Orders </span>
          </h2>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card> -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row>
    <ion-col>
      <ion-card style="height: 100px; width: 145px;" (click)="Onclick()">
        <ion-card-content >
          <ion-icon (click)="Onclick()" name="document-text-outline" color="mycolor1" style="margin-left: 40px;" size="large"></ion-icon><br>
          <ion-text class="ion-text-center" style="padding-left: 15px;">New Orders</ion-text><br>
          <!-- <ion-text class="ion-text-center" style="margin-top: 35px; font-size: 16px; padding-left: 40px;"> 12</ion-text> -->
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card style="height: 100px; width: 145px;">
        <ion-card-content >
          <ion-icon (click)="Onclick1()" name="document-text-outline" color="mycolor1" style="margin-left: 40px;" size="large"></ion-icon><br>
          <ion-text class="ion-text-center" style="padding-left: 5px;" >Pending Orders</ion-text><br>
         <ion-text class="ion-text-center" style="font-size: 16px; padding-left: 40px;">{{riders.pendingOrder}}</ion-text> 
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card style="height: 100px; width: 145px;"  (click)="Onclick2()">
        <ion-card-content >
          <ion-icon  (click)="Onclick2()" name="document-text-outline" color="mycolor1" style="margin-left: 40px;" size="large"></ion-icon><br>
          <ion-text class="ion-text-center" >Complete Orders</ion-text><br>
          <ion-text class="ion-text-center" style="margin-top: 35px; font-size: 16px; padding-left: 40px;"> {{riders.completeOrder}}</ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>

<div class="ion-text-center ion-padding" *ngIf = "!location">
  <p>Error in Loading Location <br> Kindly Enable your Gps and Try again</p>
    <ion-icon size="large" name="reload-outline" (click)="ionViewDidEnter()"></ion-icon>
  </div>